<ng-container>
  <mat-form-field>
    @if (title) {
      <mat-label>{{ title }}</mat-label>
    }
    @if (type === 'text') {
      <input
        matInput
        type="{{ type }}"
        placeholder="{{ placeholder }}"
        [formControl]="ctrl"
        [readonly]="isDisabled"
      >
    }
    @if (type === 'number') {
      <input
        matInput
        onlyNumber
        type="{{ type }}"
        placeholder="{{ placeholder }}"
        [formControl]="ctrl"
        [readonly]="isDisabled"
      >
    }
    @if (type === 'email') {
      <input
        matInput
        type="{{ type }}"
        placeholder="{{ placeholder }}"
        [formControl]="ctrl"
        [readonly]="isDisabled"
      >
    }
    @if (type === 'password') {
      <input
        matInput
        type="{{ type }}"
        placeholder="{{ placeholder }}"
        [formControl]="ctrl"
        [readonly]="isDisabled"
      >
    }
    @if (ctrl.hasError('email') && !ctrl.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
    }
    @if (ctrl.hasError('required')) {
      <mat-error>Field is <strong>required</strong></mat-error>
    }
  </mat-form-field>
</ng-container>