:host {
  ::ng-deep {
    .auth-form {
      width: 100%;
  
      .submit-btn {
        .mdc-button__label {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }
  }
}