$white: #ffffff;
$black: #000000;
$purple: #722ed1;
$dark: #1c1c1c;
$semiDark: #272727;
$alphaGray: #aeadad71;
$alphaGrayLight: #f5efef8e;

$mainBackground: $dark;
$blockBg: $semiDark;
$mainText: $white;
$secondText: $alphaGray;
$primary: $purple;
