// Color scheme

$white: #ffffff;
$alphaGrayLight: #ffffff9c;
$softGrayAlpha: #768773;
$alphaGray: #aeadad71;
$semiDark: #272727;
$dark: #1c1c1c;
$black: #000000;

$purple: #722ed1;
$rayGreen: #D8FA24;
$softGreen: #1F890E;
$terminalGreen: #43d22c;
$red: #FF0000;
// Color use

$mainBackground: $dark;
$blockBg: $semiDark;
$mainText: $white;
$secondText: $alphaGray;
$unfocusedText: $alphaGrayLight;
$highlightText: $terminalGreen;
$primary: $purple;
$highlight: $rayGreen;
$borderColor: $alphaGray;
$darkElementColor: $black;
$activeBg: $softGreen;
$activeForm: $white;
$validForm: $softGreen;
$invalidForm: $white;
