// screens
$screen-mobile-small: 320px;
$screen-mobile: 520px;
$screen-tablet: 900px;
$screen-laptop: 1100px;
$screen-desktop: 1399px;

// font sizes
$font-mobile: 14px;
$font-tablet: 15px;
$font-laptop: 16px;
$font-desktop: 18px;
$font-large: 38px;


// components
$main-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);