@import '../../../../common/styles/colors.scss';

.add-stat-dialog {
  position: relative;
  width: 280px;
  padding: 15px;
  border: 1px solid $activeForm;
  border-radius: 4px;
  background: $mainBackground;

  &__title {
    font-weight: bold;
    color: $mainText;
  }

  &__form {
    margin-top: 20px;
  }

  &__close {
    z-index: 1001;
    position: absolute;
    top: -15px;
    right: -15px;
    display: block;

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border: 2px solid $unfocusedText;
      border-radius: 50%;
      background: $darkElementColor;
      cursor: pointer;

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        color: $mainText;
      }
    }
  }

  .submit-btn {
    margin-top: 40px;
  }
}

::ng-deep {
  .mdc-dialog__surface {
    overflow: unset !important;
  }
}