<div class="add-stat-dialog">
  <h2 class="add-stat-dialog__title">Daily coding statistics</h2>
  <div class="add-stat-dialog__close">
    <button
      mat-fab
      class="add-stat-dialog__close-btn"
      (click)="onClose()"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="close"
        fontIcon="close"
        class="add-stat-dialog__close-btn-icon"
      ></mat-icon>
    </button>
  </div>
  <form
    [formGroup]="addStatForm"
    (ngSubmit)="onSave()"
    class="add-stat-dialog__form"
  >
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input
        readonly="true"
        matInput
        formControlName="date"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Total hours</mat-label>
      <input
        matInput
        formControlName="totalRowHours"
        onlyNumber
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Focused coding hours</mat-label>
      <input
        matInput
        formControlName="totalCleanHours"
        onlyNumber
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Stack</mat-label>
      <input
        matInput
        formControlName="stack"
      >
    </mat-form-field>
    @if (isAuth) {
      <div class="submit-btn">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="addStatForm.invalid"
        >
          Submit
        </button>
      </div>
    }
  </form>
</div>
