<div class="basic-info">
  <div class="row">
    <div class="col">
      <div class="row basic-info__row">
        <app-block>
          <app-primary-info />
        </app-block>
        <!-- <app-block>
          <h3>change theme</h3>
        </app-block> -->
      </div>
      <!-- <div class="row basic-info__row">
        <app-block>
          <h3>here</h3>
          <h3>here</h3>
          <h3>here</h3>
          <h3>here</h3>
        </app-block>
      </div> -->
    </div>
    <div class="col">
        <app-block>
          <app-basic-info-skills />
        </app-block>
        <app-block>
          <app-basic-info-greet />
        </app-block>
    </div>
  </div>
</div>
