@import "../../../common/styles/variables.scss";

.basic {
  &-container {
    .row {
      display: flex;
      gap: 20px;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;

        @media screen and (max-width: $screen-laptop) {
          flex-direction: column;
        }
    }

    .col {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
    }   
  }
}
