@import '../../common/styles/colors.scss';
@import '../../common/styles/variables.scss';

:host {
  .admin {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;

    h1 {
      color: $mainText;
      text-align: center;
      line-height: 90px;
    }
  }
}