@import '../../../../common/styles/colors.scss';
@import '../../../../common/styles/variables.scss';

.primary-info {
  padding-top: 40px;

  @media screen and (max-width: $screen-laptop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }

  .top-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .avatar-wrapper {
      .avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
    
        img {
          width: 150px;
          height: 150px;
        }
      }

      .username {
        margin: 16px 0 50px 0;
        font-size: $font-large;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: $screen-laptop) {
      align-items: center;
      justify-content: center;
    }

    .primary-info__table {
      &--row {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 6px 0;
      }

      &--cell {
        display: flex;
        gap: 10px;
        margin-right: 10px;
        font-size: $font-laptop;

        @media screen and (max-width: $screen-laptop) {
          margin-right: 6px;
          font-size: $font-tablet;
        }

        &.title {
          width: 180px;

          @media screen and (max-width: $screen-laptop) {
            width: 160px;
          }
        }
  
        &.highlight {
          color: $primary;
        }
  
        &_data {
          font-weight: bold;
        }
      }
    }
  }
}

.card {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  height: 100%;
  background: #efdbff;

  & > div {
    margin: 7px 0;

    @media screen and (max-width: $screen-laptop) {
      margin: 24px 0;
    }
  }

  @media screen and (max-width: $screen-laptop) {
    display: none;
  }

  &-mobile {
    display: none;
    margin-top: 30px;

    @media screen and (max-width: $screen-laptop) {
      display: block;
    }
  }
}