@import '../../../../common/styles/colors.scss';
@import '../../../../common/styles/variables.scss';

.primary-info {
  @media screen and (max-width: $screen-laptop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }

  .top-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .avatar-wrapper {
      .avatar {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        overflow: hidden;
    
        img {
          width: 130px;
          height: 130px;
        }
      }

      .username {
        margin-top: 16px;
        font-size: $font-large;
        font-weight: bold;
        text-align: center;
        color: $mainText;
      }
    }
  }
}
  
