<div class='basic-skills'>
  <app-basic-info-badge name="js" title="JavaScript" [size]="'lg'" />
  <app-basic-info-badge name="ts" title="TypeScript" [size]="'lg'" />
  <app-basic-info-badge name="react" title="ReactJS" [size]="'lg'" />
  <app-basic-info-badge name="angular" title="AngularJS" [size]="'lg'" />
  <app-basic-info-badge name="linux-logo" title="Linux" [size]="'lg'" [imgType]="'jpeg'" />
  <app-basic-info-badge name="sb" title="Supabase" [size]="'lg'" [imgType]="'jpg'" />
  <app-basic-info-badge name="python" title="Python" [size]="'lg'" />
  <app-basic-info-badge name="docker" title="Docker" [size]="'lg'" />
  <app-basic-info-badge name="nginx-icon" title="Nginx" [size]="'lg'" />
</div>
