<div class="basic-greet">
  <div class="basic-greet__item">
    <span>👋</span>
    Hello, there!
  </div>
  <div class="basic-greet__item">
    <span>👀</span>
    I’m a web-developer, so I am doing JavaScript/TypeScript/ in ReactJS/AngularJS
    on the client side and NodeJS (Express/Nest).
  </div>
  <div class="basic-greet__item">
    <span>👾</span>
    I create complex ui components by the Figma mockups and program them into useful and comfortable to interact with web interfaces.
  </div>
  <div class="basic-greet__item">
    <span>🌱</span>
    Python algorithms, backend development
  </div>
  <div class="basic-greet__item">
    <span>📫</span>
    pavpavdev&#64;gmail.com
  </div>
  <div class="basic-greet__item">
    <span>🏄</span>
    I always happy to meet new friends and work at interesting projects!
  </div>
</div>