<div class="daily-code__wrapper">
  <app-block [removeHover]="true">
    <div class="daily-code__table">
      <div class="daily-code__controls">
        <div 
          *ngFor="let year of getYears(); let i = index;"
          class="daily-code__year"
        >
          <button
            mat-button
            (click)="onClickYear(year, i)"
            [ngClass]="{'daily-code__year-btn--active': activeBtnIdx === i}"
            class="daily-code__year-btn"
          >
            {{ year }}
          </button>
        </div>
      </div>
      <div class="daily-code__data">
        <div class="cell" *ngFor="let cell of cells">
          <div *ngIf="cell.isDay === 'yes'" class="day"></div>
        </div>
      </div>
    </div>
  </app-block>
</div>