@import '../../../../common/styles/colors.scss';
@import '../../../../common/styles/variables.scss';

:host ::ng-deep {
  width: 100%;
  display: block;

  .daily-code {
    &__wrapper {
      width: 100%;
    }
  
    &__table {
      width: 100%;
      display: flex;

      @media screen and (max-width: $screen-tablet) {
        display: block;
      }
    }

    &__controls {
      display: flex;
      flex-direction: column;
      gap: 7px;
      height: 170px;
      overflow-y: scroll;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
      border-radius: 16px;
      padding: 10px 20px 10px 10px;

      @media screen and (max-width: $screen-tablet) {
        flex-direction: row;
        height: 40px;
        margin-bottom: 30px;
        padding: 10px;
      }
    }

    &__year {
      @media screen and (max-width: $screen-tablet) {
        padding: 0;
      }

      &-btn {
        padding: 6px 12px;
        border: 1px solid $blockBg;
        border-radius: 30px;
        color: $unfocusedText;
        background: $darkElementColor;
        cursor: pointer;
        transition: color ease .5s;
        

        &:hover {
          color: $mainText;
        }

        &--active {
          border: 1px solid $rayGreen;
          color: $darkElementColor;
          background: $rayGreen;

          &:hover {
            color: $darkElementColor;
          }
        }
      }
    }

    &__body {
      width: 100%;
      display: flex;
    }

    &__weekdays {
      margin: 4px 10px 0 30px;

      @media screen and (max-width: $screen-tablet) {
        margin: 4px 10px 0 0;
      }

      div {
        line-height: 18px;
        font-size: $font-s;
        color: $highlightText;
      }
    }

    &__data {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 3px;
      width: 100%;
      max-width: 1010px;
      height: 150px;
      padding: 10px;
      overflow-x: auto;

      .cell {
        display: flex;
        width: 14px;
        height: 14px;
      }

      .day {
        width: 14px;
        height: 14px;
        border-radius: 3px;
        border: 1px solid $unfocusedText;
        background: $borderColor;

        &--good {
          border-color: $highlightText;
          background: $activeBg;
        }

        &--normal {
          border-color: $highlightText;
        }
      }
    }
  }
}