@import '../../../../common/styles/colors.scss';

:host ::ng-deep {
  width: 100%;
  display: block;

  .daily-code {
    &__wrapper {
      width: 100%;
    }
  
    &__table {
      width: 100%;
      display: flex;
      gap: 100px;
    }

    &__controls {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }

    &__year {

      &-btn {
        padding: 4px 12px;
        border: 1px solid $blockBg;
        border-radius: 30px;
        color: $unfocusedText;
        background: $darkElementColor;
        cursor: pointer;
        transition: color ease .5s;

        &:hover {
          color: $mainText;
        }

        &--active {
          border: 1px solid $rayGreen;
          color: $darkElementColor;
          background: $rayGreen;

          &:hover {
            color: $darkElementColor;
          }
        }
      }
    }

    &__data {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 4px;
      width: 100%;
      max-width: 1010px;
      height: 150px;
      padding: 10px;
      overflow-x: auto;

      .cell {
        display: flex;
        width: 14px;
        height: 14px;
      }

      .day {
        width: 14px;
        height: 14px;
        border-radius: 4px;
        border: 1px solid $unfocusedText;
        background: $borderColor;
      }
    }
  }
}