<div class="daily-code__wrapper">
  <app-block [removeHover]="true">
    <div class="daily-code__table">
      <div class="daily-code__body">
        <div class="daily-code__weekdays">
          <div
            *ngFor="let day of shortWeekDays"
            class="daily-code__weekday"
          >
            <div>{{ day }}</div>
          </div>
        </div>
        <div class="daily-code__data">
          <div class="cell" *ngFor="let cell of cells">
            <app-tooltip text="{{ getCellDate(cell) }}">
              <div
                *ngIf="cell.isDay"
                class="day"
                [ngClass]="{
                  'day--good': isGoodWork(cell.codeHours),
                  'day--normal': isNormalWork(cell.codeHours)
                }"
                (click)="onCell(cell)"
              ></div>
            </app-tooltip>
          </div>
        </div>
      </div>
    </div>
  </app-block>
</div>