@import '../../../../common/styles/variables.scss';

.header {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    box-shadow: $main-shadow;
    margin-bottom: 20px;
    padding: 0 30px;
  }

  &-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: $max-width;
    &--left {
      justify-content: start;
    }
    &--right {
      justify-content: end;
    }

    .logout-btn {
      background: transparent;
    }
  }
}

button {
  max-width: 100px;
}