<header class="header-wrapper">
  <div class="header-container">
    <div class="header-container header-container--left">
      <div class="header-menu">
        @if (isAuth) {
          <button
            *ngIf="currentRoute !== '/admin'"
            mat-button
            [routerLink]="'admin'"
          >
            Admin
          </button>
        }
      </div>  
    </div>
    <div class="header-container header-container--right">
        @if (!isAuth) {
          <button
            *ngIf="currentRoute !== '/login'"
            mat-button
            [routerLink]="'login'"
          >
            Sign In
          </button>
        }
        <button
          *ngIf="currentRoute !== '/'"
          mat-button
          [routerLink]="''"
        >
          Main
        </button>

        @if (isAuth) {
          <button
            mat-fab
            class="logout-btn"
            (click)="logout()"
          >
          <mat-icon
            aria-hidden="false"
            aria-label="logout"
            fontIcon="logout"
          ></mat-icon>
          </button>
        }
    </div>
  </div>
</header>
