@import './app/common/styles/normalize.scss';
@import './app/common/styles/variables.scss';
@import './app/common/styles/colors.scss';


html, body { height: 100vh; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: $mainText;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0!important;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

    @media screen and (max-width: $screen-laptop) {
      flex-direction: column;
    }
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}  
