@use '@angular/material' as mat;

@import './app/common/styles/normalize.scss';
@import './app/common/styles/variables.scss';
@import './app/common/styles/colors.scss';

// customize material ui 
$custom-primary: mat.define-palette(mat.$indigo-palette);
$custom-accent: mat.define-palette(mat.$pink-palette);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($custom-theme);

.mat-mdc-form-field {
  width: 100%;
}
.mat-mdc-text-field-wrapper {
  border-radius: 7px !important;
  background: $darkElementColor !important;

  input {
    color: $highlightText !important;
  }
}

.mdc-button:disabled .mdc-button__label {
  color: $darkElementColor;
}

.mdc-button {
  width: 100%;
  height: 40px;
  min-height: 40px;
  cursor: pointer;

  &:disabled {
    background: $borderColor!important;
  }

  &__label {
    font-size: $font-tablet;
    color: $mainText;
  }

  &--raised {
    background: $softGreen!important;
  }
}

// Normalize
html, body { height: 100vh; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0!important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


// Fonts
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

// Scroll
::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background: $darkElementColor;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: $secondText;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: $darkElementColor;
}

// Custom global css styles
.main-wrapper {
  padding: 20px;
}

.central {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.full-height {
  height: calc(100vh - 90px);
}

.row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

    @media screen and (max-width: $screen-laptop) {
      flex-direction: column;
    }
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}