@import '../../../../common/styles/colors.scss';
@import '../../../../common/styles/variables.scss';

:host {
  .btn {
    width: 100%;
    height: 40px;
    cursor: pointer!important;
  }
  ::ng-deep {
    .btn--primary.mdc-button {
      background: $softGreen!important;
    }
    .btn--primary.mdc-button:disabled {
      background: $borderColor!important;
    }
    .mdc-button__label {
      font-size: $font-tablet;
      color: $mainText;
      transition: all .3s ease;
      &:hover {
        color: $primary;
      }
    }
  }
}